/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 4688454 */
  src: url('//at.alicdn.com/t/c/font_4688454_yw4olh0icl.woff2?t=1726725268040') format('woff2'),
    url('//at.alicdn.com/t/c/font_4688454_yw4olh0icl.woff?t=1726725268040') format('woff'),
    url('//at.alicdn.com/t/c/font_4688454_yw4olh0icl.ttf?t=1726725268040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right1:before {
  content: "\e68f";
}

.icon-chevron-right1:before {
  content: "\e699";
}

.icon-chevron-up1:before {
  content: "\e6a0";
}

.icon-eye1:before {
  content: "\e6a3";
}

.icon-eye-slash1:before {
  content: "\e6ab";
}

.icon-star1:before {
  content: "\e6cd";
}

.icon-settings3:before {
  content: "\e77b";
}

.icon-star3:before {
  content: "\e784";
}

.icon-empty-address:before {
  content: "\e79f";
}

.icon-weixin:before {
  content: "\e78d";
}

.icon-weixinpengyouquan:before {
  content: "\e78e";
}

.icon-qq:before {
  content: "\e78f";
}

.icon-xinlang:before {
  content: "\e790";
}

.icon-facebook:before {
  content: "\e791";
}

.icon-twitter:before {
  content: "\e792";
}

.icon-pingguo:before {
  content: "\e793";
}

.icon-empty-order:before {
  content: "\e795";
}

.icon-empty-coupon:before {
  content: "\e796";
}

.icon-empty-favor:before {
  content: "\e797";
}

.icon-empty-comment:before {
  content: "\e798";
}

.icon-empty-network:before {
  content: "\e799";
}

.icon-empty-list:before {
  content: "\e79a";
}

.icon-backspace:before {
  content: "\e60b";
}

.icon-image-error:before {
  content: "\e600";
}

.icon-empty-data:before {
  content: "\e79b";
}

.icon-search:before {
  content: "\e602";
}

.icon-empty-permission:before {
  content: "\e63a";
}

.icon-tianjia:before {
  content: "\e60e";
}

.icon-jianshao:before {
  content: "\e610";
}

.icon-cuowu:before {
  content: "\e612";
}

.icon-cuowu-circle:before {
  content: "\e613";
}

.icon-zhengque:before {
  content: "\e614";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-jiantouxia:before {
  content: "\e61a";
}

.icon-jiantouyou:before {
  content: "\e61b";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-empty-page:before {
  content: "\e606";
}

.icon-empty-cart:before {
  content: "\e79c";
}

.icon-loading:before {
  content: "\e794";
}

.icon-empty-history:before {
  content: "\e79d";
}

.icon-empty-search:before {
  content: "\e79e";
}

.icon-empty-message:before {
  content: "\e60c";
}

.icon-upload:before {
  content: "\e672";
}

.icon-settings:before {
  content: "\e67c";
}

.icon-arrow-down1:before {
  content: "\e67f";
}

.icon-arrow-left1:before {
  content: "\e680";
}

.icon-arrow-up1:before {
  content: "\e684";
}

.icon-chevron-left1:before {
  content: "\e68c";
}

.icon-chevron-down1:before {
  content: "\e68e";
}