@font-face {
  font-family: "ZGGUI";
  /* Project id 4688454 */
  src: url('./iconfontFont/iconfont.woff2') format('woff2'),
    url('./iconfontFont/iconfont.woff') format('woff'),
    url('./iconfontFont/iconfont.ttf') format('truetype');
}

.ZGGUI {
  font-family: "ZGGUI" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.z-empty-address:before {
  content: "\e611";
}

.z-shouye:before {
  content: "\e8c6";
}

.z-wo:before {
  content: "\e63f";
}

.z-hexin:before {
  content: "\e625";
}

.z-fuwuzujian:before {
  content: "\e640";
}

.z-arrow-right1:before {
  content: "\e68f";
}

.z-chevron-right1:before {
  content: "\e699";
}

.z-chevron-up1:before {
  content: "\e6a0";
}

.z-eye1:before {
  content: "\e6a3";
}

.z-eye-slash1:before {
  content: "\e6ab";
}

.z-star1:before {
  content: "\e6cd";
}

.z-settings3:before {
  content: "\e77b";
}

.z-star3:before {
  content: "\e784";
}

.z-weixin:before {
  content: "\e78d";
}

.z-weixinpengyouquan:before {
  content: "\e78e";
}

.z-qq:before {
  content: "\e78f";
}

.z-xinlang:before {
  content: "\e790";
}

.z-facebook:before {
  content: "\e791";
}

.z-twitter:before {
  content: "\e792";
}

.z-pingguo:before {
  content: "\e793";
}

.z-empty-order:before {
  content: "\e795";
}

.z-empty-coupon:before {
  content: "\e796";
}

.z-empty-favor:before {
  content: "\e797";
}

.z-empty-comment:before {
  content: "\e798";
}

.z-empty-network:before {
  content: "\e799";
}

.z-empty-list:before {
  content: "\e79a";
}

.z-backspace:before {
  content: "\e60b";
}

.z-image-error:before {
  content: "\e600";
}

.z-empty-data:before {
  content: "\e79b";
}

.z-search:before {
  content: "\e602";
}

.z-empty-permission:before {
  content: "\e63a";
}

.z-tianjia:before {
  content: "\e60e";
}

.z-jianshao:before {
  content: "\e610";
}

.z-cuowu:before {
  content: "\e612";
}

.z-cuowu-circle:before {
  content: "\e613";
}

.z-zhengque:before {
  content: "\e614";
}

.z-jiantoushang:before {
  content: "\e619";
}

.z-jiantouxia:before {
  content: "\e61a";
}

.z-jiantouyou:before {
  content: "\e61b";
}

.z-jiantouzuo:before {
  content: "\e61c";
}

.z-empty-page:before {
  content: "\e606";
}

.z-empty-cart:before {
  content: "\e79c";
}

.z-loading:before {
  content: "\e794";
}

.z-empty-history:before {
  content: "\e79d";
}

.z-empty-search:before {
  content: "\e79e";
}

.z-empty-message:before {
  content: "\e60c";
}

.z-upload:before {
  content: "\e672";
}

.z-settings:before {
  content: "\e67c";
}

.z-arrow-down1:before {
  content: "\e67f";
}

.z-arrow-left1:before {
  content: "\e680";
}

.z-arrow-up1:before {
  content: "\e684";
}

.z-chevron-left1:before {
  content: "\e68c";
}

.z-chevron-down1:before {
  content: "\e68e";
}